body {
    background: #dcdde1;
}

.navbar {
    background: linear-gradient(90deg, #f59220, #944d0a, #3f4044);
}


.imputimg {
    padding-top: 2%;
}

.navbar-brand img {
    width: 42%;
}

.card-header {
    background: linear-gradient(90deg, #f59220, #944d0a, #3f4044);
}
 
.sublogo {
    color: antiquewhite;
}
h5 {
    padding-top: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(224, 127, 47);
    padding-left: 1.5%;

}

h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #dcdde1;
    padding-left: 1.2%;
}