<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imgShare</title>
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/8ed82614e9.js" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP 4 -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/public/img/awslogo.png" alt="AwsLogo">
                IMGSHARE |
                by Pablo Mañas
            </a>
        </div>
    </nav>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{ body }}}
            </div>
            <div class="col-md-4">

                
            </div>
        </div>    
    </div>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- CUSTOM CODE -->
    <script src="/public/js/scripts.js"></script>
</body>
</html>